/* Importando fuentes */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rojo: #BA2202;
    --amarillo: #FFE800;
    --negro: #1C1C1C;
    --fondo: #DDE9F8;
    --azul: #007CBE;
}

body, h1, h2, h3, h4, h5, h6, p, span, a, input, select, label, textarea, button, div, section, aside, footer, header, main, nav, ul, li {
    font-family: 'Nunito', sans-serif !important;
}

body {
    overflow-x: hidden !important;
    background-color: var(--fondo) !important;
}

.bg-rojo {
    background-color: var(--rojo) !important;
}

.bg-amarillo {
    background-color: var(--amarillo) !important;
}

.bg-negro {
    background-color: var(--negro) !important;
}

.color-rojo {
    color: var(--rojo) !important;
}

.color-amarillo {
    color: var(--amarillo) !important;
}

.color-negro {
    color: var(--negro) !important;
}

.bg-azul {
    background-color: var(--azul) !important;
}

.color-azul {
    color: var(--azul) !important;
}

.contenedor-personalizado {
    width: 100%;
    padding: 2rem 4rem;
}

/* Estilos de gráficos de resumen gerencial */

.grafico {
    width: 100%;
    height: 400px;
}

.dona {
    height: 300px !important;
}

.icono-modulo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 3px var(--rojo);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.icono-modulo i{
    font-size: 4rem;
    color: var(--rojo);
}

.div-cantidad {
    margin: 0 !important;
}

.cantidad {
    margin: 0 !important;
    line-height: 0 !important;
    width: 5em !important;
}

th {
    font-weight: bold !important;
}

.fila-producto {
    cursor: pointer;
}

.id-producto {
    display: none !important;
}

.id-producto-agregado {
    /* display: none !important; */
}

.btn-sidebar {
    display: none !important;
}

.agregar-producto {
    padding: 15px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* Sidebar */
.btn-sidebar {
    position: fixed;
    left: 2rem;
    bottom: 3rem;
    z-index: 10000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--rojo);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.btn-sidebar a i {
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-hide {
    cursor: pointer;
    color: #fff;
    transition: all 200ms;
}

.sidebar-hide:hover {
    color: var(--rojo);
}

/* Página de inicio de roles */

.roles {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
}

.roles > a {
    width: 50%;
    min-height: 100vh;
    height: 100%;
    padding: 4rem;
}

.img-rol {
    width: 400px;
    margin: 2rem auto 0 auto;
    transition: all 200ms;
}

.img-rol:hover {
    transform: scale(105%);
}

/* Botones para agregar y eliminar productos de la venta*/

.agregar-producto {
    padding: 10px 15px;
    border: solid 1px #198754;
    background-color: #198754;
    color: #fff;
    border-radius: 0.375rem;
    transition: all 250ms;
}

.eliminar-producto {
    padding: 10px 15px;
    border: solid 1px #dc3545;
    background-color: #dc3545;
    color: #fff;
    border-radius: 0.375rem;
    transition: all 250ms;
}

.btn-descuento {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: solid 1px #2364AA;
    background-color: #2364AA;
    color: #fff;
    border-radius: 0.375rem;
    transition: all 250ms;  
}

.agregar-producto i, .eliminar-producto i, .btn-descuento i {
    font-size: 1.5rem;
}

.btn-descuento:hover {
    background-color: #2A78CB;
}

.agregar-producto:hover {
    background-color: #16a085;
}

.eliminar-producto:hover {
    background-color: #e74c3c;
}

.btn-azul {
    background-color: var(--azul) !important;
    color: #fff !important;
    transition: all 250ms !important;
}

.btn-azul:hover {
    background-color: #006AA3 !important;
}

/* Datos de venta (total, monto, cambio)  */

.navbar{
    z-index: 10000 !important;
}

#navbarTogglerDemo02{
  padding-bottom: 0.7rem !important;
}

.datos-venta {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0.5rem 0.5rem;
    
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--negro);
}

.datos-venta label {
    color: whitesmoke !important;
    font-size: 1.2rem !important;
}

.espacio {
    width: 100%;
    height: 120px;
}

#d-none {
    display: none !important;
}

/* -------------------------------------------- */

/* Tabla de productos */

.info-producto p {
    margin: 0 !important;
}

.info-producto .titulo {
    font-size: 1.3rem;
    font-weight: 700;
}

.info-producto .info-precio {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--rojo);
    text-decoration: underline;
}

.info-producto .info-desc {
    font-weight: 700;
    color: var(--azul);
    text-decoration: underline;
}

/* ----------------------------------------------- */

/* Tarjeta de modulos y submodulos */

.submodulo {
    height: 100%;
    min-height: 300px !important;
}

.mw {
    max-width: 370px !important;
}

.btn-primary {
    background-color: var(--rojo) !important;
    border: solid 1px var(--rojo) !important;
    transition: all 250ms !important;
}

.btn-primary:hover {
    background-color: var(--negro) !important;
    border: solid 1px var(--rojo) !important;
    color: #fff !important;
}

.enlace-sidebar {
    border: solid 1.5px var(--rojo);
}

.enlace-sidebar div{
  width: 15%;
  display: flex;
  justify-content: center;
}

.enlace-sidebar div i {
    font-size: 1.2rem;
}

.enlace-sidebar span{
    width: 85%;
}

.sidebar-title {
    padding: 10px !important;
    background-color: #411811 !important; 
    border-radius: 0.375rem !important;
}

@media screen and (max-width: 1080px) {
    .agregar-producto {
        padding: 10px !important;
    }

    .info-producto p {
        font-size: 0.8rem;
    }
    
    .info-producto .titulo {
        font-size: 0.9rem;
    }
    
    .info-producto .info-precio {
        font-size: 1rem;
    }

    #paginacion_wrapper .row:first-child > div {
        width: 100%;
        margin: 0.5rem 0 !important;
        padding: 0 !important;
    }

    div.dataTables_wrapper div.dataTables_filter {
        text-align: left !important;
    }
}


